* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:'Inter', sans-serif;
  color: #2B283A;
}

.Header-nav {
  height: 70px;
  background-color: #F55A5A;
  font-weight: 500;
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.header-brand {
  vertical-align: top;
}

/* For Main Component */

.main-section {
  display: flex;
  justify-content: center;
}

.main-container {
  display: flex;
  flex-direction: row;
  width: 70%;
  margin: 20px 0px 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid #F5F5F5 ;
  
} 



.main-image {
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
 
}

.main-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}

.main-info-link {
  display: flex;
}

.main-info-link span a {
  color: #918E9B;
}

.main-info-link > span {
  margin-left: 30px;
}

.main-info-title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 60px;
  margin: 20px 0px;
 

}

.main-info-date {
  font-weight: 700;
  margin-bottom: 10px;
}

.main-info-description {
  width: 90%;
  
}